.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 L 0,150 C 105.09090909090907,150.05741626794259 210.18181818181813,150.11483253588517 311,151 C 411.81818181818187,151.88516746411483 508.3636363636364,153.59808612440193 602,139 C 695.6363636363636,124.40191387559807 786.3636363636365,93.49282296650718 881,103 C 975.6363636363635,112.50717703349282 1074.1818181818182,162.43062200956936 1168,177 C 1261.8181818181818,191.56937799043064 1350.909090909091,170.78468899521533 1440,150 L 1440,400 L 0,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 L 0,150 C 81.97129186602868,184.07655502392345 163.94258373205736,218.1531100478469 264,214 C 364.05741626794264,209.8468899521531 482.2009569377991,167.46411483253587 590,149 C 697.7990430622009,130.53588516746413 795.2535885167464,135.99043062200957 894,125 C 992.7464114832536,114.00956937799042 1092.7846889952152,86.57416267942584 1184,88 C 1275.2153110047848,89.42583732057416 1357.6076555023924,119.71291866028707 1440,150 L 1440,400 L 0,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 L 0,150 C 114.23923444976077,187.0334928229665 228.47846889952154,224.06698564593302 339,207 C 449.52153110047846,189.93301435406698 556.3253588516747,118.76555023923446 626,107 C 695.6746411483253,95.23444976076554 728.2200956937801,142.87081339712918 825,150 C 921.7799043062199,157.12918660287082 1082.7942583732056,123.75119617224881 1196,117 C 1309.2057416267944,110.24880382775119 1374.6028708133972,130.1244019138756 1440,150 L 1440,400 L 0,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 L 0,150 C 115.69377990430621,110.00956937799043 231.38755980861242,70.01913875598086 326,97 C 420.6124401913876,123.98086124401914 494.1435406698564,217.93301435406698 592,221 C 689.8564593301436,224.06698564593302 812.0382775119618,136.2488038277512 915,116 C 1017.9617224880382,95.75119617224881 1101.7033492822966,143.0717703349282 1186,160 C 1270.2966507177034,176.9282296650718 1355.1483253588517,163.4641148325359 1440,150 L 1440,400 L 0,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 L 0,150 C 105.09090909090907,150.05741626794259 210.18181818181813,150.11483253588517 311,151 C 411.81818181818187,151.88516746411483 508.3636363636364,153.59808612440193 602,139 C 695.6363636363636,124.40191387559807 786.3636363636365,93.49282296650718 881,103 C 975.6363636363635,112.50717703349282 1074.1818181818182,162.43062200956936 1168,177 C 1261.8181818181818,191.56937799043064 1350.909090909091,170.78468899521533 1440,150 L 1440,400 L 0,400 Z"
    );
  }
}
